<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <h2 class="text-light pr-2">SCRAPER</h2>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger">Scrape New Articles</a>
      </li>
    </ul>
  </nav>
</div>

<div class="jumbotron-fluid text-light text-center pb-5 pt-5 bImage">
  <h1 class="pt-5 display-1"><strong>404 Error</strong></h1>
  <h3 class="display-4"><strong>The Page You Are Looking For Does Not Exist!</strong></h3>
</div>