body {
  background-color: whitesmoke;
}

.jumbotron-fluid {
    height: 450px;
    text-shadow: 2px 2px black;
    width: 100%;
}

.bImage {
    background-image: url("../assets/images/news.jpg");
    background-repeat: repeat-x repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
